# 0x-contract-addresses==3.0.0
# 0x-contract-artifacts==3.0.0
# 0x-contract-wrappers==2.0.0
# 0x-json-schemas==2.1.0
# 0x-order-utils==4.0.1
# aiohttp==3.8.1
# aioredis==2.0.1
# aiosignal==1.2.0
# aiosmtplib==1.1.6
# amqp==2.6.1
# anyio==3.6.1
# asgiref==3.5.0
# async-timeout==4.0.2
# atomicwrites==1.4.0
# attrs==21.4.0
# azure-common==1.1.28
# azure-core==1.1.1
# azure-cosmos==4.1.0
# azure-storage-blob==2.1.0
# azure-storage-common==2.1.0
# background==0.2.1
# base58==2.1.1
bcrypt==3.2.2
# billiard==3.6.4.0
# bitarray==1.2.2
# blinker==1.4
# boto3==1.24.19
# botocore==1.27.19
# celery==4.4.2
# certifi==2019.11.28
# cffi==1.15.0
# chardet==3.0.4
# charset-normalizer==2.0.12
# click==8.1.2
# click-didyoumean==0.3.0
# click-plugins==1.1.1
# click-repl==0.2.0
# colorama==0.4.4
# cryptography==37.0.2
# cytoolz==0.11.2
# Deprecated==1.2.13
# Django==4.0.3
# djangorestframework==3.13.1
# dnspython==2.2.1
# docopt==0.6.2
# ecdsa==0.17.0
# email-validator==1.2.1
# eth-abi==2.1.1
# eth-account==0.5.7
# eth-hash==0.3.2
# eth-keyfile==0.5.1
# eth-keys==0.3.4
# eth-rlp==0.2.1
# eth-typing==2.3.0
# eth-utils==1.10.0
# fakeredis==1.8.1
fastapi==0.75.1
fastapi-mail==1.0.9
# Flask==2.1.2
# frozenlist==1.3.0
# greenlet==1.1.2
# h11==0.12.0
# hdwallet==2.1.1
# hexbytes==0.2.2
# httpcore==0.15.0
# httptools==0.4.0
# httpx==0.23.0
# idna==2.8
# iniconfig==1.1.1
# ipfshttpclient==0.8.0a2
# itsdangerous==2.1.2
# Jinja2==3.1.2
# jmespath==1.0.1
jose==1.0.0
# jsonschema==3.2.0
# kombu==4.6.11
# librabbitmq==2.0.0
# lru-dict==1.1.7
# mangum==0.15.0
# MarkupSafe==2.1.1
# mnemonic==0.20
# msgpack==1.0.3
# multiaddr==0.0.9
# multidict==6.0.2
# mypy-extensions==0.4.3
# mysqlclient==2.1.0
# netaddr==0.8.0
# orjson==3.7.2
# packaging==21.3
# parsimonious==0.8.1
passlib==1.7.4
# pipreqs==0.4.11
# pluggy==1.0.0
# prompt-toolkit==3.0.28
# protobuf==3.19.4
# py==1.11.0
# py-dotenv==0.1
# pyasn1==0.4.8
# pycparser==2.21
# pycryptodome==3.14.1
pydantic==1.9.1
# pymongo==4.1.1
PyMySQL==1.0.2
# pyparsing==3.0.7
# pyrsistent==0.18.1
# pysha3==1.0.2
# pytest==7.1.2
# python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
# python-lambda-local==0.1.13
# python-mail==1.0.2
# python-multipart==0.0.5
# pytz==2022.1
# PyYAML==6.0
# redis==4.2.1
# replit==3.2.4
# requests==2.28.0
# rfc3986==1.5.0
# rlp==2.0.1
# rsa==4.8
# s3transfer==0.6.0
# six==1.16.0
# sniffio==1.2.0
# sortedcontainers==2.4.0
SQLAlchemy==1.4.37
# sqlparse==0.4.2
# starlette==0.17.1
# stringcase==1.2.0
# tomli==2.0.1
# toolz==0.11.2
# typing-extensions==3.10.0.2
# tzdata==2022.1
# ujson==5.3.0
# urllib3==1.25.7
uvicorn==0.17.6
# varint==1.0.2
# vine==1.3.0
# virtualenv==16.7.9
# virtualenv-clone==0.5.3
# watchgod==0.8.2
# wcwidth==0.2.5
# web3==5.28.0
# websockets==9.1
# Werkzeug==2.1.2
# wrapt==1.14.0
# yarg==0.1.9
# yarl==1.7.2

